mat-card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.card-rating, .card-index {
  position: absolute;
  top: 16px;
  right: 16px;
  font-weight: bold;
  font-size: 1.2em;
}

mat-card-title {
  display: block;
  width: 100%;
  font-weight: bold;
  margin-top: 16px;
}

mat-card-content {
  flex-grow: 1;
  display: flex;
}

.card-minutes {
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 1em;
}

.card-rating-bottom {
  position: absolute;
  bottom: 16px;
  right: 16px;
  font-size: 1.3em;
}
