<div class="wrapper">
  <h1>Programmers Test</h1>
  <mat-form-field appearance="outline" class="search-field content-wrapper">
    <mat-label>Search categories</mat-label>
    <input matInput [formControl]="searchControl" placeholder="Type to search..." />
  </mat-form-field>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over" position="start" class="custom-sidenav">
      <button mat-flat-button (click)="sidenav.close()">Close</button>
      <app-films-list *ngIf="selectedCategory" [category]="selectedCategory"></app-films-list>
    </mat-sidenav>

    <ng-container *ngIf="filteredCategories.length > 0; else empty">
      <mat-sidenav-content class="content-wrapper">
        <ng-container *ngFor="let category of filteredCategories">
          <app-category-list-card 
            [category]="category" 
            (click)="openSidenav(category, sidenav)">
          </app-category-list-card>
        </ng-container>
      </mat-sidenav-content>
    </ng-container>

  </mat-sidenav-container>

  <ng-template #empty>
    <div class="content-wrapper">
      <h3>No categories found...</h3  >
    </div>
  </ng-template>

</div>
