<div class="wrapper">
  <h1>Programmers Test</h1>

  <mat-form-field appearance="outline" class="search-field content-wrapper">
    <mat-label>Search categories</mat-label>
    <input matInput [formControl]="searchControl" placeholder="Type to search...">
  </mat-form-field>

  <div class="category-list-container content-wrapper">
    @if (filteredCategories().length > 0) {
      @for (category of filteredCategories(); track category) {
        <div class="category-card">
          <app-category-list-card
            [category]="category"
            (click)="showCategoryDetails(category)">
          </app-category-list-card>
        </div>
      }
    } @else {
      <div class="content-wrapper">
        <h3>No categories found...</h3>
      </div>
    }
  </div>


  @if (selectedCategory) {
    <div class="category-details-popup">
      <button mat-icon-button class="close-popup-button" (click)="closeCategoryDetails()">
        <mat-icon>close</mat-icon>
      </button>
      <div class="popup-content">
        <h2>{{ selectedCategory.name }}</h2>
        <app-films-list [category]="selectedCategory"></app-films-list>
      </div>
    </div>
  }
</div>