.category-card {
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-field {
  max-width: 20vw;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.category-title {
  font-weight: bold;
  margin-right: 20px;
  white-space: nowrap;
  flex-grow: 1;
}

.category-description {
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.content-wrapper {
  max-width: 70vw;
  margin: 0 auto;
}

.custom-sidenav {
  width: 100%;
  height: 60vh;
  border-radius: 0;
  align-self: self-end;
}

.mat-sidenav {
  transition-duration: 0s !important;
  position: fixed;
}

mat-card {
  margin-top: 16px !important;
}

.sidenav-container {
  background-color: rgb(238, 238, 238);
}

button {
  position: fixed;
  right: 0;
  margin: 16px;
}

h1 {
  text-align: center;
}

.search-field mat-form-field {
  width: 50%;
  max-width: 400px;
}
