<div class="wrapper">
  <h1>{{category.name}}</h1>
  <h2>Total duration: {{totalDuration}}</h2>
  <section class="example-section">
    <mat-checkbox *ngFor="let rating of ratings" class="example-margin" [checked]="selectedRatings.includes(rating)"
      (change)="toggleRatingSelection(rating)">
      {{ rating }}
    </mat-checkbox>
  </section>

  <mat-grid-list cols="5" rowHeight="250px" gutterSize="16px">
    <mat-grid-tile>
      <button class="add-button full-height" (click)="addFilm()" mat-flat-button color="primary">
        Add film
        <mat-icon class="big-icon">add</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let film of filteredFilms; index as i">
      <app-films-list-card class="full-height" [film]="film" [index]="i+1"></app-films-list-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
